# macOS
#--------------------------------------------------

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Linux
#--------------------------------------------------

*~

# Windows
#--------------------------------------------------

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# IntelliJ
#--------------------------------------------------

.idea/

*.iml

# VSCode
#--------------------------------------------------

.vscode/
.history/

# PNPM
#--------------------------------------------------

node_modules/

# NX
#--------------------------------------------------

/.nx/

# Output
#--------------------------------------------------

/dist/
/tmp/

# TypeScript
#--------------------------------------------------

*.tsbuildinfo

# Jest
#--------------------------------------------------

/coverage/

# Miscellaneous
#--------------------------------------------------

*--ignored.*
