# Dependency hoisting
#--------------------------------------------------

shamefully-hoist = true

# Peer dependency
#--------------------------------------------------

strict-peer-dependencies = true

# CLI
#--------------------------------------------------

engine-strict = true
